body{
    background-color: rgb(247, 218, 146);
    background-image: linear-gradient(light gold);
}
table{
    border-style:double;
    text-align: center;
    position: relative;
}
h3{
    color: deeppink;
}
